body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#home{
    width: 100%;
    height: 95vh;
    background-image: url("../img/ ");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
  
}



nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;

}
.logo{
    font-family: sans-serif;
    color: #000000;
    font-size: 22px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

    color: #6d6d6d;
    font-size: 32px;

}
.text p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 40px;
}
.text p:nth-child(3){
    font-family: serif;
    color: #403e3e;
    font-size: 30px;
}
.text p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text{
    position: absolute;
    left: 13%;
    top:42%;
    transform: translate(-13%,-42%);
}
.text button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.knowmorebtn{
    border: 2px solid #373636;
    color:#373636;
}
.contactbtn{
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
    
}
button:active{
    transform: scale(1.1);

}
.myPhoto{
    height: 480px;
    position: absolute;
    bottom: 40px;
    left: 75%;
    transform: translateX(-70%);
}
.aboutItems{
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
 }
 .aboutItems img{
     height: 250px;

 }
 .abouttext{
     width: 550px;
 }
.abouttext p:nth-child(1){
    color: #403e3e;
    font-family: serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}
.abouttext p:nth-child(2){
    color: #3e3d3d;
    font-size: 13px;
    font-family: serif;
    font-weight: bold;
    line-height: 5px;
}
.abouttext p:nth-child(3),
.abouttext p:nth-child(4){
    color:#7e7d7d ;
    font-family: serif;
    font-size: 16px;
}
.abouttext button{
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: serif;
    background-color:#262525 ;
}
.qualification{
  height: 600px;  
  background-color: #ffffff;
  padding: 2% 10% 0px 10%;
}
.qualificationText p:nth-child(1){
    font-family: serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;
}
.qualificationText p:nth-child(2){
    font-family: serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 15px;
    line-height: 5px;
}
.qualificationText p:nth-child(3){
    font-family: serif;
    color: #7e7d7d;
}
.qualificationText{
    width: 500px;
    margin: 50px 0px;
}
.box1, .box2, .box3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.box{
    display: flex;
    justify-content: space-between;
}
.box1{
    background-image: url("../img/school.jpeg ");
}
.box2{
    background-image: url("../img/college.jpeg ");
}
.box3{
    background-image: url("../img/du.jpg");

}

.heading{
    font-size: 27px;
    color:#161313;
    font-family: serif;
    background-color: antiquewhite;
}
.details{
    font-size: 21px;
    color: rgb(13, 14, 14);
    font-family: sans-serif;
    background-color: rgb(224, 219, 213);
}


p{
    text-align: center;
}